.controls {
  text-align: center;
}

.control-container {
  display: inline-block;
  width: 200px;
  height: 200px;
  transform: translateY(40px);

  &::before {
    content: "";
    position: absolute;
    top: -40px;
    left: -40px;
    width: 280px;
    height: 280px;
    background-color: #AEA0A0;
    border-radius: 10px;
  }
}

.control-btn {
  width: 75px;
  height: 75px;
  background-color: #AEA0A0;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 12px;
}

.up {
  top: -20px;
  transform: translateX(-50%);
  background-image: url('/assets/images/arrows/up-arrow.png');
}

.left {
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
  background-image: url('/assets/images/arrows/left-arrow.png');
}

.right {
  right: -20px;
  top: 50%;
  transform: translateY(-50%);
  background-image: url('/assets/images/arrows/right-arrow.png');
}

.down {
  bottom: -20px;
  transform: translateX(-50%);
  background-image: url('/assets/images/arrows/down-arrow.png');
}

.center {
  top: 50%;
  transform: translate(-50%, -50%);
  background-image: url('/assets/images/arrows/reload-arrow.png');
}
