.controls {
    margin-top: 20px;
    text-align: center;
}

.controls a {
    margin: 0 10px;
    text-decoration: none;
    padding: 10px;
    background-color: white;
    color: black;
    border-radius: 5px;
    font-size: 18px;
}

.controls a:hover {
    background-color: gray;
}

.control-container {
    display: inline-block; /* Контейнер занимает только необходимую ширину */
    position: relative; /* Для позиционирования кнопок */
    width: 200px; /* Задаем ширину контейнера (можешь подогнать под свои нужды) */
    height: 200px; /* Высота контейнера */
    transform: translateX(-15px) translateY(20px);
}

.control-btn {
    width: 60px;
    height: 60px;
    background-color: white; /* Белый фон кнопок */
    display: inline-block;
    position: absolute;
    background-size: contain; /* Изображение полностью вписывается в кнопку */
    background-repeat: no-repeat;
    background-position: center;
    text-decoration: none; /* Убираем подчеркивание */
}

.up {
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    background-image: url('/src/assets/images/arrows/up-arrow.png');
}

.left {
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
    background-image: url('/src/assets/images/arrows/left-arrow.png');
}

.right {
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
    background-image: url('/src/assets/images/arrows/right-arrow.png');
}

.down {
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    background-image: url('/src/assets/images/arrows/down-arrow.png');
}

.center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('/src/assets/images/arrows/reload-arrow.png');
}
