body {
    background-image: url('/assets/images/back-ground.jpg');
    background-size: cover;
    background-position: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, h2 {
    text-align: center;
}


.game-field {
    border-collapse: collapse;
    margin: 20px auto;
}

.empty {
    width: 60px;
    height: 60px;
    border: 1px solid #000;
    background-color: #ccc;
}

.tile {
    width: 150px;
    height: 150px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    font-size: 24px;
    font-weight: bold;
    color: white;
    border: 1px solid #000;
    background-color: #f0f0f0;
}

.tile span {
    color: black;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


.frame-1 {
    background-image: url('/src/assets/images/cute_cat/image_part_001.jpg');
    background-size: cover;
}

.frame-2 {
    background-image: url('/src/assets/images/cute_cat/image_part_002.jpg');
    background-size: cover;
}

.frame-3 {
    background-image: url('/src/assets/images/cute_cat/image_part_003.jpg');
    background-size: cover;
}

.frame-4 {
    background-image: url('/src/assets/images/cute_cat/image_part_004.jpg');
    background-size: cover;
}

.frame-5 {
    background-image: url('/src/assets/images/cute_cat/image_part_005.jpg');
    background-size: cover;
}

.frame-6 {
    background-image: url('/src/assets/images/cute_cat/image_part_006.jpg');
    background-size: cover;
}

.frame-7 {
    background-image: url('/src/assets/images/cute_cat/image_part_007.jpg');
    background-size: cover;
}

.frame-8 {
    background-image: url('/src/assets/images/cute_cat/image_part_008.jpg');
    background-size: cover;
}
