<register-form
  [player_name]="player_name"
  (playerNameSubmitted)="onPlayerNameSubmitted($event)"
></register-form>

<div class="image-selector" *ngIf="player_name && !selectedImageSet">
  <button (click)="selectImageSet('cat')">
    <img ngSrc="/assets/images/cat/preview.jpg" alt="cat" height="736" width="736">
  </button>

  <button (click)="selectImageSet('cute_cat')">
    <img ngSrc="/assets/images/cute_cat/preview.jpg" alt="cute_cat" height="735" width="736">
  </button>
</div>

<div *ngIf="selectedImageSet">
  <table class="game-field">
    <tr *ngFor="let row of field; let rowIndex = index">
      <td *ngFor="let tile of row; let colIndex = index"
          [ngClass]="{'empty': tile === '0', 'tile': tile !== '0'}"
          [class]="'frame-' + frameNumbers[rowIndex][colIndex]">
        <span *ngIf="tile !== '0'">{{ tile }}</span>
      </td>
    </tr>
  </table>

  <controls-component
    (onDirectionChange)="onDirectionSubmitted($event)"
    (onReset)="onResetSubmitted()"
  ></controls-component>

  <rating-component
    [rating]="rating"
    [player_rating]="player_rating"
    (ratingSubmitted)="onRatingSubmitted($event)"
  ></rating-component>

  <comment-component
    [comments]="comments"
    [playerName]="player_name"
    (commentSubmitted)="onCommentSubmitted($event)"
  ></comment-component>

  <score-component
    [scores]="scores"
    [playerScore]="best_player_score"
  ></score-component>
</div>
