<register-form
  [player_name]="player_name"
  (playerDataSubmitted)="onPlayerNameSubmitted($event)"
></register-form>

<image-selector
  [player_name]="player_name"
  [selectedImageSet]="selectedImageSet"
  (onImgSelected)="selectImageSet($event)"
></image-selector>

<div *ngIf="selectedImageSet">
  <table class="game-field">
    <tr *ngFor="let row of field; let rowIndex = index">
      <td *ngFor="let tile of row; let colIndex = index"
          [ngClass]="{'empty': tile === '0', 'tile': tile !== '0'}"
          [class]="'frame-' + frameNumbers[rowIndex][colIndex]">
        <span *ngIf="tile !== '0'">{{ tile }}</span>
      </td>
    </tr>
  </table>

  <controls-component
    (onDirectionChange)="onDirectionSubmitted($event)"
    (onReset)="onResetSubmitted()"
  ></controls-component>

  <rating-component
    [rating]="rating"
    [player_rating]="player_rating"
    (ratingSubmitted)="onRatingSubmitted($event)"
  ></rating-component>

  <comment-component
    [comments]="comments"
    [playerName]="player_name"
    (commentSubmitted)="onCommentSubmitted($event)"
  ></comment-component>

  <score-component
    [scores]="scores"
    [playerScore]="best_player_score"
  ></score-component>
</div>
