h1, h2 {
  text-align: center;
}

.game-field {
  border-collapse: collapse;
  margin: 30px auto;
  position: relative;
  z-index: 1;

  td {
    border: 3px solid #AEA0A0;
  }
}

.empty {
  width: 60px;
  height: 60px;
  border: 1px solid #000;
  background-color: #AEA0A0;
}

.tile {
  width: 150px;
  height: 150px;
  position: relative;
  text-align: left;
  vertical-align: top;
  font-size: 18px;
  font-weight: bold;
  color: white;
  border: 1px solid #000;
  background-color: #f0f0f0;
  padding-left: 5px;

  span {
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
}

.frame-1 {
  background-image: var(--frame-1);
  background-size: cover;
}

.frame-2 {
  background-image: var(--frame-2);
  background-size: cover;
}

.frame-3 {
  background-image: var(--frame-3);
  background-size: cover;
}

.frame-4 {
  background-image: var(--frame-4);
  background-size: cover;
}

.frame-5 {
  background-image: var(--frame-5);
  background-size: cover;
}

.frame-6 {
  background-image: var(--frame-6);
  background-size: cover;
}

.frame-7 {
  background-image: var(--frame-7);
  background-size: cover;
}

.frame-8 {
  background-image: var(--frame-8);
  background-size: cover;
}

.timer {
  position: absolute;
  top: 10px;
  left: 10px;
  color: red;
}
