<register-form
  [player_name]="player_name"
  (playerNameSubmitted)="onPlayerNameSubmitted($event)"
></register-form>

<div *ngIf="player_name">
  <table class="game-field">
    <tr *ngFor="let row of field; let rowIndex = index">
      <td *ngFor="let tile of row; let colIndex = index"
          [ngClass]="{'empty': tile === '0', 'tile': tile !== '0'}"
          [class]="'frame-' + frameNumbers[rowIndex][colIndex]">
        <span *ngIf="tile !== '0'">{{ tile }}</span>
      </td>
    </tr>
  </table>

  <div *ngIf="isSolved">
    <h2>Congratulations! You solved the puzzle!</h2>
  </div>

  <div class="controls">
    <div class="control-container">
      <button (click)="moveTile('w')" class="control-btn up"></button>
      <button (click)="moveTile('a')" class="control-btn left"></button>
      <button (click)="moveTile('s')" class="control-btn down"></button>
      <button (click)="moveTile('d')" class="control-btn right"></button>
      <button (click)="reset()" class="control-btn center"></button>
    </div>
  </div>

  <rating-component
    [rating]="rating"
    [player_rating]="player_rating"
    (ratingSubmitted)="onRatingSubmitted($event)"
  ></rating-component>

  <comment-component
    [comments]="comments"
    [playerName]="player_name"
    (commentSubmitted)="onCommentSubmitted($event)"
  ></comment-component>
</div>
