.image-selector {
  display: flex;
  justify-content: center;
  gap: 20px;
  position: relative;
  z-index: 1;

  button {
    padding: 10px;
    border-radius: 12px;
    background-color: #AEA0A0;

    &:hover {
      border-color: #3e3737;
      transform: scale(1.05);
    }

    img {
      width: 200px;
      height: 200px;
      border-radius: 12px;
    }
  }
}
