<div class="image-selector" *ngIf="player_name && !selectedImageSet">
  <button (click)="selectImageSet('cat')">
    <img ngSrc="/assets/images/cat/preview.jpg" alt="cat" height="736" width="736">
  </button>

  <button (click)="selectImageSet('cute_cat')">
    <img ngSrc="/assets/images/cute_cat/preview.jpg" alt="cute_cat" height="735" width="736">
  </button>

  <button (click)="selectImageSet('shrimp')">
    <img ngSrc="/assets/images/shrimp/preview.jpg" alt="shrimp" height="627" width="735">
  </button>

  <button (click)="selectImageSet('lol')">
    <img ngSrc="/assets/images/lol/preview.jpg" alt="lol" height="736" width="736">
  </button>

  <button (click)="selectImageSet('tralalero_mini')">
    <img ngSrc="/assets/images/tralalero_mini/preview.jpg" alt="tralalero_mini" height="1200" width="1200">

  </button>
  <button (click)="selectImageSet('saturnita')">
    <img ngSrc="/assets/images/saturnita/preview.jpg" alt="saturnita" height="464" width="464">
  </button>
</div>
