.scores {
  h4 {
    margin-top: 0;
    font-size: 16px;
  }

  position: absolute;
  bottom: 20px;
  left: 120px;
  background-color: #AEA0A0;
  padding: 10px;
  border-radius: 20px;
  color: #373535;
  text-align: center;
}

.score-table {
  border-collapse: collapse;

  td {
    padding: 8px 12px;
    font-size: 14px;
  }

  tr:not(:last-child) {
    border-bottom: 1px solid #000000;
  }
}

.best-score {
  display: block;
  font-weight: 600;
  margin-bottom: 10px;
  color: #373535;

  .score-number {
    font-weight: 700;
    color: #000000;
  }
}

